streamlit
PyMuPDF
langchain
langchain-google-genai
langchain-pinecone
langchain-openai
langchain-groq
langchain-text-splitters
langgraph
pinecone
itur
astropy
scipy
numpy
# Force Streamlit to rebuild environment
